@import '../styles.scss';

#education {
    min-width: 100%;
    .title {
        opacity: 1;
        color: $white;
        padding-bottom: 5px;
    }
    .bg-3 { 
        background: #000000e5;
        color: $white;
    }
    .container-fluid {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .container img { 
        width: 150px; 
    }
    .img-codecademy{
        float: right;
    }
    a {
        border: 0;
        background: transparent;
        border: 2px solid $white;
        padding: 14px 20px;
        outline:none;
        color: $white;
        border-radius: 24px;
        transition: 0.25;
        text-decoration: none;
        cursor: pointer;
    }
    a:hover {
        background: $white;
        color: $grey-default;
    }
}