@import '../styles.scss';

#skills {
    .title {
        color: $white;
    }
    .bg-2 { 
        background: $bg-dark-default;
        color: $white;
    }
    .container-fluid {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    img {
        background-color: $white;
        padding: 20px;
        border-radius: 100%;
    }
    .glyphicon {
        color: $yellow;
    }
}