@import '../styles.scss';

#skills {
    .title {
        color: $white;
        margin: 60px;
    }
    .bg-2 {
        background: $bg-dark-default;
        color: $white;
    }
    .container-fluid {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    img {
        background-color: $white;
        padding: 20px;
        border-radius: 100%;
    }
    .rn {
        background-color: $bg-dark-default;
    }
    .glyphicon {
        color: $yellow;
    }
    .content-line-one {
        margin-bottom: 20px;
    }
    .content-line-two {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
    }
}
