$font-stack:    "Helvetica Neue",Helvetica,Arial,sans-serif;
$one-color: #333;
$two-color: #fff;
$four-color: #2d2d30;
$five-color: #29323c;
$six-color: #4286f4;
$seven-color: #d53a9d;
$eight-color: #743ad5;

#about .title{
  border-bottom: 1px solid $one-color;
}
#about h3, h4{
  font-family: $font-stack;
}
#about .bg-2 { 
  background-color: #fff;
  color: #333;
}
#about .container-fluid {
  padding-bottom: 70px;
}