#about .title{
  border-bottom: 1px solid #333;
}
#about h3, h4{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
#about .bg-2 { 
  background-color: #fff; /* 474e5d */
  color: #333;
}
#about .container-fluid {
  padding-bottom: 70px;
}