@import '../styles.scss';

html {
    scroll-behavior: smooth;
}
#header {
    .navbar {        
        padding-top: 15px;
        border: 0;
        letter-spacing: 2px;
    }
    a {
        color: $grey-default;
        font-size: 10px;
    }
    .navbar-default {
        background: $bg-menu;
    }
    .menu-right a {
        color: $grey-opacity;
        font-size: 8px;
    }
    .menu-right a:hover {
        color: $grey-default;
    }
    .progress-bar {
        height: 8px;
        background-image: linear-gradient(to right, $blue 0%, $blue-dark 51%, $blue 100%);
        width: 0%;
    }
}