$font-helvetica: "Helvetica Neue",Helvetica,Arial,sans-serif;
$grey-default: #333;
$grey-opacity: #333333b7;
$white: #fff;
$white-opacity: #ffffffb7;
$brown-dark: #2d2d30;
$blue-dark: #29323c;
$blue: #4286f4;
$pink: #d53a9d;
$purple: #743ad5;
$yellow: #ffff00;
$bg-dark-default: #000000e5;
$bg-menu: #fffffff2;
$bg-footer: #2d2d30;
