@import '../styles.scss';

$image-bgd: "../../assets/images/bg.JPG";

#intro {
    height: 100vh;
    background-image: url($image-bgd);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center, 0 0;
    color: $white;
    display: flex;    
    align-items: center;
    justify-content: center;
}

#intro {
    .container-fluid {
        padding-top: 80px;
    }
    .box-intro {
        background-color: $bg-dark-default;        
    }
    .box-name h2 {
        padding-bottom: 20px;
        letter-spacing: 5px;
    }
    .box-name h4 {
        letter-spacing: 6px;
    }
    span {
        display: inline;
        font-size: 1em;
        list-style: none;
        color: $grey-default;
        animation: underline-animate 1s linear infinite;
    }
    @keyframes underline-animate {
        0% {
            color: $white;
        }
        100% {
            color: transparent;
        }
    }
    h3, h4 {
        font-family: $font-helvetica;
    }
    .box-apresent {
        font-size: 17px;
    }
    .bg-transparent {
        background-color: $grey-opacity;
        color: $white;
        padding: 20px 0 20px 0;
    }
}