@import '../styles.scss';

#footer {
    .bg-8 {
        background-color: $bg-footer;
        color: $white;
    }
    .container-fluid {
        padding: 40px 0px;
    }
    .backToTop {
        position: relative;
        padding: 10px;
        background-color: $white;
        border-radius: 100%;
        animation: goToTop 1.5s infinite ease-in-out;
        transition-delay: 0.25s;
        transform: 1s;
        transition-duration: 1s;
    }
    @keyframes goToTop {
        0% {
            top: 0px;
        }
        50% {
            top: 15px;
        }
        100% {
            top: 0px;
        }
    }
    .social {
        position: relative;
        display: flex;
        justify-content: space-between;
        min-width: 250px;
        max-width: 250px;
    }
    .social img {
        width: 35px;
        @import '../styles.scss';
        height: 35px;
    }
    .social a {
        border-bottom: 1px solid $bg-footer;
        padding-bottom: 15px;
        opacity: 0.5;
    }
    .social a:hover {
        opacity: 1;
    }
}
