@import '../styles.scss';

#contacts {
    .title{
        color: $white;
    }
    h4 {
        color: $white;
    }
    p {
        color: $white;
    }
    p a {
        text-decoration: none;
        color: $white;
    }
    p a:hover {
        text-decoration: none;
        color: $white-opacity;
    }
    .bg-2 { 
        background: $bg-dark-default;
        color: $white;
    }
    .container-fluid {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}