#contacts .title {
    color: #fff;
    border-bottom: 1px solid #fff;
}
#contacts .bg-2 { 
    background-image: linear-gradient(to right, #2d2d30 0%, #29323c 51%, #4286f4 100%);
    color: #fff;
}
#contacts .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}